 Ans1->  We use for loop in the case of when we need to iterate over a iterable , for example:we are given a list of name and            we want to print all name then we use for loop in this case.
         While loop use where we are given some condition  not iterable for example if we asked from user to enter the password 
         if he/she entered wrong password continously ,untill and unless they would not enter correct password program will              asked them for coorect password.

In [ ]:
 # ans -2 code for sum and product for 10 naturals number

#using for loop
sum_,product=0,1

for i in range(1,11):
    sum_+=i
    product=product*i
print("sum of first 10 natural number:",sum_)
print("product of first 10 natural number:",product)

In [ ]:
#Q3. Create a python program to compute the electricity bill for a household.

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [9]:
## Ans -3

## put the units consume by the person
units=int(input("enter the monthly units:"))

# when units in the range of 1 to 101
charged=0
if units>0 and units<101:
    charged=4.5*units
    print(charged)

# above 100 and below 201
elif units>100 and units<201:
    charged=6*units
    print(charged)
# above 200 and below 301
elif units>200 and units<301:
    charged=10*units
    print(charged)
else:
    charged=20*units
    print(charged)

enter the monthly units: 99

445.5

In [6]:
## Ans-4
list =[]
for i in range(1,101):
    cube=i**3
    if cube%4==0 or cube%5==0:
        list.append(i)
for i in list:
    print(i)

2
4
5
6
8
10
12
14
15
16
18
20
22
24
25
26
28
30
32
34
35
36
38
40
42
44
45
46
48
50
52
54
55
56
58
60
62
64
65
66
68
70
72
74
75
76
78
80
82
84
85
86
88
90
92
94
95
96
98
100

In [31]:
# Ans-5
s="I want to become a data scientist"
vowels="aeiouAEIOU"
count=0

for ch in s:
    if ch in vowels:
        count+=1
        
print(" number of vowels present in s:",count)

 number of vowels present in s: 12